{% extends 'base.html'%}
{% load static %}
{% block content%}
    <div id="all">

        <div id="content">
            <div class="container">

                <div class="col-md-6">
                    <div class="box">
                        <h1>New account</h1>

                        <p class="lead">Not our registered customer yet?</p>
                        <!-- <p>With registration with us new world of fashion, fantastic discounts and much more opens to you! The whole process will not take you more than a minute!</p>
                        <p class="text-muted">If you have any questions, please feel free to <a href="contact.html">contact us</a>, our customer service center is working for you 24/7.</p>-->
                        {% if user_exists %}
                        	<div class="alert alert-danger" role="alert">
								  Email already exists !
							</div>
						{% endif %}	
                        <hr>

                        <form action="{% url 'account:register' %}" method="post" id="register_form">{% csrf_token %}
                            <div class="form-group">
                                <label for="name">First Name</label>
                                <input type="text" class="form-control" id="first_name" name="first_name">
                            </div>
                            <div class="form-group">
                                <label for="name">Last Name</label>
                                <input type="text" class="form-control" id="last_name" name="last_name">
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email_id" name="email_id">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password">
                            </div>
                            <div class="form-group">
                                <label for="password">Confirm Password</label>
                                <input type="password" class="form-control" id="confirm_password" name="confirm_password">
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-user-md"></i> Register</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="box">
                        <h1>Login</h1>

                        <p class="lead">Already our customer?</p>
							{% if invalid_user%}
								<div class="alert alert-danger" role="alert">
								  Username or password does not match !
								</div>
							{% endif %}			
                        <hr>

                        <form action="{% url 'account:login' %}" method="post" id="login_form">{% csrf_token %}
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" id="email" name="email">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password">
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> Log in</button>
                                <br>
                                <p class="text-center text-muted"><a href="{% url 'account:password_reset' %}"><strong>Forgot Password?</strong></a>
                            </div>
                        </form>
                    </div>
                </div>


            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->


{% endblock content%}

{% block jqueryblock%}
	<script>
		$('#register_form').validate({
			errorClass			:	"error-class",
			rules:{
				first_name		:	"required",
 				last_name		:	"required",
 				email_id		:	"required",
 				password		:{
 									required:true,
 									password:true
 								 },
 				confirm_password: "#password"
			},
			messages:{
				first_name		: 	"Please enter a valid first name",
 				last_name		: 	"Please enter a valid last name",
 				email_id		:	"Please enter a valid email id",
 				password		:{
 									required: "Please enter a password",
 									password: "Please enter a valid password"
 								 },
 				confirm_password:	"Passwords does not match"
			}
		});
	</script>
{% endblock jqueryblock%}