{% extends 'base.html'%}
{% load static %}
{% block content%}
    <div id="all">

        <div id="content">
            <div class="container">

                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a>
                        </li>
                        <li>Checkout - Order review</li>
                    </ul>
                </div>
				
				<!-- Address Start -->
				<div id='address_div'>
					<div class="col-md-9" id="checkout">
				<form id="checkout_address_form" method="post" action="#">{% csrf_token %}
                    <div class="box">
                            <h1>Checkout</h1>
                            <ul class="nav nav-pills nav-justified">
                                <li class="active"><a><i class="fa fa-map-marker"></i><br>Address</a>
                                </li>
                                <li class="disabled"><a><i class="fa fa-eye"></i><br>Order Review</a>
                                </li>
                            </ul>

                            <div class="content">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="first_name">Firstname</label>
                                            <input type="text" class="form-control" id="first_name" name="first_name" value="{{address_details.first_name}}">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="last_name">Lastname</label>
                                            <input type="text" class="form-control" id="last_name" name="last_name" value="{{address_details.last_name}}">
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="phone">Phone</label>
                                            <input type="text" class="form-control" id="phone_number" maxlength="10" name="phone_number" value="{{address_details.phone_number}}">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="building_info">Building Info</label>
                                            <input type="text" class="form-control" id="building_info" name="building_info" value="{{address_details.building_info}}">
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->

                                <div class="row">
                                	<div class="col-sm-6 col-md-3">
                                        <div class="form-group">
                                            <label for="area">Area</label>
                                            <input type="text" class="form-control" id="area" name="area" value="{{address_details.area}}">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="form-group">
                                            <label for="city">City</label>
                                            <input type="text" class="form-control" id="city" name="city" value="{{address_details.city}}">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="form-group">
                                            <label for="pincode">Pincode</label>
                                            <input type="text" class="form-control" id="pincode" name="pincode" value="{{address_details.pincode}}">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="form-group">
                                            <label for="state">State</label>
                                            <select class="form-control" id="state" name="state">
                                            {% for k,v in states%}
                                            	<option value="{{k}}">{{v}}</option>
                                            {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <!-- <div class="col-sm-6 col-md-3">
                                        <div class="form-group">
                                            <label for="country">Country</label>
                                            <select class="form-control" id="country"></select>
                                        </div>
                                    </div> -->

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="address_type">Address Type</label>
                                            <select class="form-control" id="address_type" name="address_type">
													<option value="home">HOME</option>
													<option value="office">OFFICE</option>                                            
                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <!-- /.row -->
                            </div>

                            <div class="box-footer">
                                <div class="pull-left">
                                    <a href="basket.html" class="btn btn-default"><i class="fa fa-chevron-left"></i>Back to Cart</a>
                                </div>
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary" id="order_preview_btn">Continue to Order Preview<i class="fa fa-chevron-right"></i>
                                    </button>
                                </div>
                            </div>
                    </div>
                    <!-- /.box -->
				</form>

                	</div>
                </div>
				 <!-- Address End--> 
			<!-- Order Preview Start -->
			<div id="order_review_div" style="display:none">		
                <div class="col-md-9" id="checkout">

                    <div class="box">
                        <form method="post" id="place_order_form" action="">{% csrf_token%}
                            <h1>Checkout - Order review</h1>
                            <ul class="nav nav-pills nav-justified">
                                <li><a href="{% url 'order:orderview'%}"><i class="fa fa-map-marker"></i><br>Address</a>
                                </li>
                                <li class="active"><a href="#"><i class="fa fa-eye"></i><br>Order Review</a>
                                </li>
                            </ul>
                            <div class="content">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th colspan="2">Product</th>
                                                <th>Quantity</th>
                                                <th>Unit price</th>
                                                <th>Discount</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for item in cart_details%}
                                            <tr>
                                                <td>
                                                    <a href="#">
                                                        <img src="{{item.product.image.url}}" alt="{{item.product.name}}">
                                                    </a>
                                                </td>
                                                <td><a href="{{item.product.get_absolute_url}}">{{item.product.name}}</a>
                                                </td>
                                                <td>{{item.quantity}}</td>
                                                <td>&#8377;{{item.price}}</td>
                                                <td>&#8377;0.00</td>
                                                <td>&#8377;{{item.total}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th colspan="5">Total</th>
                                                <th>&#8377;{{cart.total}}</th>
                                            </tr>
                                        </tfoot>
                                    </table>

                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.content -->

                            <div class="box-footer">
                                <div class="pull-left">
                                    <a  class="btn btn-default" id="back_address_btn"><i class="fa fa-chevron-left"></i>Back to Address Details</a>
                                </div>
                                <!-- <div class="pull-right">
                                    <button type="submit" class="btn btn-primary" id="place_order_btn">Place an order<i class="fa fa-chevron-right"></i>
                                    </button>
                                </div> -->
                                <div class="pull-right">
                                <a href="https://test.instamojo.com/@arunkn28/"  class="btn btn-primary" rel="im-checkout" data-behaviour="remote" data-style="light" data-text="Checkout With Instamojo"></a>
								<script src="https://js.instamojo.com/v1/button.js"></script>
								</div>
                            </div>
                        </form>
                    </div>
                    <!-- /.box -->


                </div>
                <!-- /.col-md-9 -->
			</div>
			<!-- Order Preview End -->
                <div class="col-md-3">

                    <div class="box" id="order-summary">
                        <div class="box-header">
                            <h3>Order summary</h3>
                        </div>
                        <p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p>

                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Order subtotal</td>
                                        <th>&#8377;{{cart.subtotal}}</th>
                                    </tr>
                                    <tr>
                                        <td>Shipping and handling</td>
                                        <th>&#8377;00.00</th>
                                    </tr>
                                   <!--  <tr>
                                        <td>Tax</td>
                                        <th>&#8377;0.00</th>
                                    </tr> -->
                                    <tr class="total">
                                        <td>Total</td>
                                        <th>&#8377;{{cart.total}}</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
                <!-- /.col-md-3 -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->


 {% endblock content %}
 
 {% block javascriptblock%}
 <script>
		//Address form validator
 		$('#checkout_address_form').validate({
 			errorClass			: "error-class",
 			rules:{
 				first_name		:	"required",
 				last_name		:	"required",
 				phone_number	:	{
 									 required:true,
 									 phone_number:true
 									},
 				building_info	:	"required",
 				area			:	"required",
 				city			:	"required",
 				pincode			:	{
 									 required:true,
 									 pincode:true
 									},
 				state			:	"required",
 				address_type	:	"required"
 			},
 			messages:{
 				first_name		: 	"Please enter a valid first name",
 				last_name		: 	"Please enter a valid last name",
 				phone_number	:	{
 									 phone_number:"Please enter a valid phone number",
 									 required:"Please enter a phone number"
 									 },
 				building_info	:	"Please enter valid building information",
 				area			: 	"Please enter valid area",
 				city			:	"Please enter a valid city",
 				pincode			:	{
 									 required: "Please enter a pincode",
 									 pincode: "Please enter a valid pincode"
 									},
 				state			:	"Please select a state",
 				address_type	: 	"Please select an address type"
 			},
 			submitHandler: function(form) {
		 					$("#checkout_address_form").submit(function(e){
		 				  			 e.preventDefault();
		 					});
 						address_ajax_submit();
 			  			}
 		});
 		
 		$.validator.addMethod('phone_number',function(value,element){
 			var phone_number = new RegExp('^[7-9][0-9]{9}$');
 			return phone_number.test(value);
 		});
 		
 		$.validator.addMethod('pincode',function(value,element){
 			var pincode = new RegExp('^[1-9][0-9]{5}$');
 			return pincode.test(value);
 		});
 		
		//Ajax call to update the address for this order
		function address_ajax_submit(){
			data = {};
			data['first_name']		=$('#first_name').val();
			data['last_name']		=$('#last_name').val();
			data['phone_number']	=$('#phone_number').val();
			data['building_info']	=$('#building_info').val();
			data['area']			=$('#area').val();
			data['city']			=$('#city').val();
			data['pincode']			=$('#pincode').val();
			data['state']			=$('#state').val();
			data['address_type']	=$('#address_type').val();
			$.ajax({
				url:"{% url 'account:updateaddress' %}",
				type: "POST",
			    cache:false,
			    data: data,
			    dataType: "json",
			    success: function(resp){
			    	 $('#address_div').hide();
					 $('#order_review_div').show();
			    },
			    error: function(HttpRequest, textStatus, errorThrown) { 
			        //alert("Status: " + textStatus); alert("Error: " + errorThrown); 
			    }
			});
		} 
	//On click of back button hide the order preview div and show the address div
	$('#back_address_btn').on('click',function(){
		$('#address_div').show();
		$('#order_review_div').hide();
	});
	
	
 </script>
 
 {% endblock javascriptblock%}