{% extends 'base.html' %}
{% load static %}
{% block content%}

    <div id="all">

        <div id="content">
            <div class="container">

                <div class="col-md-12" id="wishlist">

                    <ul class="breadcrumb">
                        <li><a href="#">Home</a>
                        </li>
                        <li>Ladies</li>
                    </ul>

                 <!--    <div class="box">
                        <h1>My wishlist</h1>
                        <p class="lead">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                    </div> -->

                    <div class="row products">
					{% for product in all_products %}
                        <div class="col-md-3 col-sm-4">
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="{{ product.get_absolute_url }}">
                                                <img src="{{ product.image.url }}" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="{{ product.get_absolute_url }}">
                                                <img src="{{ product.image.url }}" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="{{ product.get_absolute_url }}" class="invisible">
                                    <img src="{{ product.image.url }}" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3><a href="detail.html">{{ product.name }}</a></h3>
                                    <p class="price">&#8377;{{ product.price }}</p>
                                      <form id="addcart_form" action="{% url 'cart:updatecart' %}" method="post">{% csrf_token%}
                             			<p class="text-center buttons">
                             	  			<input type="hidden" class="form-control" id="product_id" name="product_id" value="{{product.id}}">
                                	 		<a class="btn btn-primary" id="addcart_btn"><i class="fa fa-shopping-cart"></i>Add to cart</a> 
                               			</p>
                             		</form>

                                </div>
                                <!-- /.text -->

                                <div class="ribbon gift">
                                    <div class="theribbon">GIFT</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->

                            </div>
                            <!-- /.product -->
                        </div>
                        <!-- /.col-md-4 -->
						{% endfor %}


                    </div>
                    <!-- /.products -->

                </div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->


 {% endblock content%}
 
 {% block javascriptblock %}

<script>
	
	$('#addcart_btn').on('click',function(){
		$('#addcart_form').submit();
	});
</script>
{% endblock javascriptblock%}